.app {
  text-align: center;
}

/* HOME */

.search-button-home {
  padding: 10px 50px;
  background-color: rgb(114, 147, 161);
  border: none;
}

/* NAVBAR */

.app-logo {
  height: 150px;
  margin-bottom: 80px;
}

/* SEARCH BAR */

.search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.search-bar-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.search-bar {
  width: 300px;
  border: none;
  background-color: rgb(223, 223, 223);
}

.search-button {
  padding: 10px 50px;
  background-color: grey;
  border: none;
}

/* MAP */

.error-message {
  color: red;
  font-weight: bold;
}
