/* GLOBAL && COMMON */

.app {
  text-align: center;
}

.search-button-home:hover,
.search-button:hover,
.history-button:hover,
.delete-button:hover {
  font-weight: bold;
  cursor: pointer;
}

/* HOME */

.search-button-home {
  padding: 10px 50px;
  background-color: rgb(36, 98, 167);
  border: none;
  border-radius: 3px;
  color: white;
}

/* NAVBAR */

.app-logo {
  height: 120px;
}

.app-logo:hover {
  cursor: pointer;
}

/* SEARCH BAR && HISTORY */

.search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin: 40px 0;
}

.search-bar-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.search-bar {
  width: 350px;
  border: none;
  background-color: rgb(223, 223, 223);
  border-radius: 3px;
}

.search-button,
.history-button {
  padding: 10px 50px;
  background-color: rgb(156, 156, 156);
  border: none;
  border-radius: 3px;
}

.history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-container ul {
  margin-left: -35px;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 10px 25px;
  margin: 20px 0;
  width: 85%;
}

.history-container ul li {
  list-style-type: none;
  margin: 20px;
}

.delete-button {
  border: none;
  padding: 2px 5px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

/* MAP */

.error-message {
  color: red;
  font-weight: bold;
}

hr {
  width: 50%;
  margin-top: 30px;
}
